.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px auto 60px;
  background: black;
}

.App__card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: scroll;
}
